.c-flex-wrap {
  margin-top: 20px;
  @include l-more-than-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  @include l-mobile {
  }
  &__item {
    @include l-more-than-mobile {
      margin-right: 20px;
      margin-left: 20px;
    }
    @include l-mobile {
      margin-top: 20px;
    }
  }
}
