.c-flex-wrap {
  max-width: 780px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  &__item {
    @include l-more-than-mobile {
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
    }
    @include l-mobile {
      margin-top: 10px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
