$sizeOut: 42px;
$sizeIn: 24px;
$lineWidth: 2px;

.c-hamburger {
  width: $sizeOut;
  height: $sizeOut;
  display: block;
  cursor: pointer;
  position: relative;
  &__line {
    width: $sizeIn;
    height: $lineWidth;
    overflow: hidden;
    position: absolute;
    &-in {
      width: $sizeIn * 3;
      height: $lineWidth;
      position: absolute;
      top: 0; left: 0;
      &:before, &:after {
        width: $sizeIn;
        height: $lineWidth;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        background-color: #000;
      }
      &:before {
        left: $sizeIn * -2;
      }
      &:after {
        left: 0;
      }
    }
    &--01, &--02, &--03, &--cross01, &--cross02 {
      left: ($sizeOut - $sizeIn) / 2;
    }
    &--01 {
      top: $sizeOut * 0.3 - $lineWidth / 2;
    }
    &--02, &--cross01, &--cross02 {
      top: $sizeOut * 0.5 - $lineWidth / 2;
    }
    &--03 {
      top: $sizeOut * 0.7 - $lineWidth / 2;
    }
    &--cross01 {
      transform: rotate(45deg);
    }
    &--cross02 {
      transform: rotate(-45deg);
    }
  }
  //
  // Interaction
  //
  &__line {
    transition-duration: 0.6s;
    transition-timing-function: $easeOutExpo;
    &-in {
      transition-duration: 0.6s;
      transition-timing-function: $easeOutExpo;
      &:before, &:after {
        transition-timing-function: $easeOutExpo;
        transition-property: transform;
      }
      &--cross01, &--cross02 {
        transform: translateX(-33.3%);
      }
      &--01 {
        transition-delay: 0.2s;
      }
      &--02 {
        transition-delay: 0.25s;
        &:before, &:after {
          transition-delay: 0.05s;
        }
      }
      &--03 {
        transition-delay: 0.3s;
        &:before, &:after {
          transition-delay: 0.1s;
        }
      }
      &--cross01 {
        transition-delay: 0.0s;
      }
      &--cross02 {
        transition-delay: 0.05s;
        &:before, &:after {
          transition-delay: 0.1s;
        }
      }
    }
  }
  &.is-opened-navi & {
    &__line {
      &-in {
        &:before, &:after {
        }
        &--01, &--02, &--03 {
          transform: translateX(33.3%);
        }
        &--cross01, &--cross02 {
          transform: translateX(0);
        }
        &--01 {
          transition-delay: 0s;
        }
        &--02 {
          transition-delay: 0.05s;
        }
        &--03 {
          transition-delay: 0.1s;
        }
        &--cross01 {
          transition-delay: 0.25s;
        }
        &--cross02 {
          transition-delay: 0.3s;
        }
      }
    }
  }
  &:hover & {
    &__line {
      &-in {
        &:before, &:after {
          transform: translateX(200%);
        }
        &--01, &--02, &--03 {
          &:before, &:after {
            transition-duration: 1s;
          }
        }
        &--cross01, &--cross02 {
          &:before, &:after {
            transition-duration: 0s;
          }
        }
      }
    }
  }
  &.is-opened-navi:hover & {
    &__line {
      &-in {
        &--cross01, &--cross02 {
          &:before, &:after {
            transition-duration: 1s;
          }
        }
        &--01, &--02, &--03 {
          &:before, &:after {
            transition-duration: 0s;
          }
        }
      }
    }
  }
}
