.c-section-header {
  @include flexFontSize(2);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  @include l-more-than-mobile {
    margin-bottom: 40px;
    @include fontSize(28);
  }
  @include l-mobile {
    margin-bottom: 20px;
    @include fontSize(16);
  }
}
