extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block contentFixedBefore

block contentStatic
  h1.p-global-header
    |Components

  .c-section
    h2.c-section-header
      |Hamburger

    .c-flex-wrap#hamburger
      .c-hamburger.js-hover(
        :class = '{ "is-opened-navi" : isOpenedNavi }'
        @click = 'toggleNavi',
        )
        .c-hamburger__line.c-hamburger__line--01
          .c-hamburger__line-in.c-hamburger__line-in--01
        .c-hamburger__line.c-hamburger__line--02
          .c-hamburger__line-in.c-hamburger__line-in--02
        .c-hamburger__line.c-hamburger__line--03
          .c-hamburger__line-in.c-hamburger__line-in--03
        .c-hamburger__line.c-hamburger__line--cross01
          .c-hamburger__line-in.c-hamburger__line-in--cross01
        .c-hamburger__line.c-hamburger__line--cross02
          .c-hamburger__line-in.c-hamburger__line-in--cross02

  .c-section
    h2.c-section-header
      |button

    .c-flex-wrap
      a.c-button-border.js-scroll-item.js-hover(
        href = '#'
        )
        span.c-button-border__label
          |Read More
        span.c-button-border__line-v
        span.c-button-border__line-h

  .c-section
    h2.c-section-header
      |Text Link

    .c-flex-wrap
      a.c-text-link-underline.js-hover(
        href = "#"
        )
        |text link strike

block contentFixedAfter
