extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block contentFixedBefore

block contentStatic
  h1.p-global-header
    |Components

  h2.c-section-header
    |button

  .c-button-wrap
    a.c-button-border.js-scroll-item.js-hover(
      href = '#'
      )
      span.c-button-border__label
        |Read More
      span.c-button-border__line-v
      span.c-button-border__line-h

block contentFixedAfter
