extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block contentFixedBefore

block contentStatic
  h1.p-global-header
    +iconComponent(40)
    |Components
  .p-global-excerpt
    p
      |they are components what can be used general purpose on website.
    .p-global-excerpt__view-source
      +iconGitHub(20)
      a.c-text-link-underline.js-hover(
        href = 'https://github.com/ykob/components',
        target = '_blank'
        )
        |view source

  .c-section
    h2.c-section-header
      |Hamburger

    .c-flex-wrap#hamburger
      .c-flex-wrap__item.c-hamburger.js-hover(
        :class = '{ "is-opened-navi" : isOpenedNavi }'
        @click = 'toggleNavi',
        )
        .c-hamburger__line.c-hamburger__line--01
          .c-hamburger__line-in.c-hamburger__line-in--01
        .c-hamburger__line.c-hamburger__line--02
          .c-hamburger__line-in.c-hamburger__line-in--02
        .c-hamburger__line.c-hamburger__line--03
          .c-hamburger__line-in.c-hamburger__line-in--03
        .c-hamburger__line.c-hamburger__line--cross01
          .c-hamburger__line-in.c-hamburger__line-in--cross01
        .c-hamburger__line.c-hamburger__line--cross02
          .c-hamburger__line-in.c-hamburger__line-in--cross02

  .c-section
    h2.c-section-header
      |button

    .c-flex-wrap
      a.c-flex-wrap__item.c-button-border.js-scroll-item.js-hover(
        href = '#'
        )
        span.c-button-border__label
          |Button Border
        span.c-button-border__line-v
        span.c-button-border__line-h
      a.c-flex-wrap__item.c-button-border-v.js-scroll-item.js-hover(
        href = '#'
        )
        span.c-button-border-v__label
          |Button Border V
        span.c-button-border-v__line-v
        span.c-button-border-v__line-h

    .c-flex-wrap
      a.c-flex-wrap__item.c-button-reel.js-scroll-item.js-hover(
        href = '#'
        )
        span.c-button-reel__label(
          data-label = 'Read More'
          )
          |Button Reel
        span.c-button-reel__line-v
        span.c-button-reel__line-h

  .c-section
    h2.c-section-header
      |Text Link

    .c-flex-wrap
      a.c-flex-wrap__item.c-text-link-strike.js-hover(
        href = "#"
        )
        |text link strike
      a.c-flex-wrap__item.c-text-link-underline.js-hover(
        href = "#"
        )
        |text link underline

block contentFixedAfter
  .p-contents-frame
