- var meta_title = '';
- var meta_keywords = '';
- var meta_description = 'a list of effective css3 parts to be used for web site.';
- var meta_path = "";
- var meta_ogp_img = "ogp.jpg"

doctype html
html(lang="ja")
  head
    include ./layout/_head.jade
  body.index
    .l-page
      include ./layout/_l-gh.jade
      .l-page__btns
        include ./modules/_btn-slideup.jade
        include ./modules/_btn-slidedown.jade
        include ./modules/_btn-slideleft.jade
        include ./modules/_btn-slideright.jade
        include ./modules/_btn-skew-center-45.jade
        include ./modules/_btn-scale-round.jade
        include ./modules/_btn-reeldown.jade
        include ./modules/_btn-reelside.jade
      include ./layout/_l-gf.jade
    script(src="js/main.js")
