extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block contentFixedBefore

block contentStatic
  h1.p-global-header
    +iconComponent(40)
    |Components
  .p-global-excerpt
    p
      |they are components what can be used general purpose on website.
    .p-global-excerpt__view-source
      +iconGitHub(20)
      a.c-text-link-underline.js-hover(
        href = 'https://github.com/ykob/components',
        target = '_blank'
        )
        |view source

  .c-section
    h2.c-section-header
      |Hamburger

    .c-flex-wrap#hamburger
      .c-flex-wrap__item.p-hamburger(
        :class = '{ "is-valid" : isValid === true, "is-opened-navi" : isOpenedNavi === true, "is-over" : isOveredHamburger === 1, "is-leave" : isOveredHamburger === 2 }'
        @click = 'toggleNavi',
        @mouseover = 'mouseoverHamburger',
        @mouseout = 'mouseoutHamburger',
        )
        .p-hamburger__line.p-hamburger__line--01
          .p-hamburger__line-in.p-hamburger__line-in--01
        .p-hamburger__line.p-hamburger__line--02
          .p-hamburger__line-in.p-hamburger__line-in--02
        .p-hamburger__line.p-hamburger__line--03
          .p-hamburger__line-in.p-hamburger__line-in--03
        .p-hamburger__line.p-hamburger__line--cross01
          .p-hamburger__line-in.p-hamburger__line-in--cross01
        .p-hamburger__line.p-hamburger__line--cross02
          .p-hamburger__line-in.p-hamburger__line-in--cross02

  .c-section
    h2.c-section-header
      |button

    .c-flex-wrap
      +buttonBorder('a')(
        href = '#',
        className = 'c-flex-wrap__item js-scroll-item js-hover'
        )
        |Button Border
      +buttonBorderV('a')(
        href = '#',
        className = 'c-flex-wrap__item js-scroll-item js-hover'
        )
        |Button Border V
      +buttonReel('a')(
        href = '#',
        className = 'c-flex-wrap__item js-scroll-item js-hover'
        )
        |Button Reel
      +buttonThrough('a')(
        href = '#',
        className = 'c-flex-wrap__item js-scroll-item js-hover'
        )
        |Button Through

  .c-section
    h2.c-section-header
      |Text Link

    .c-flex-wrap
      +textLinkStrike('a')(
        href = "#",
        className = 'c-flex-wrap__item js-hover'
        )
        |text link strike
      +textLinkUnderline('a')(
        href = "#",
        className = 'c-flex-wrap__item js-hover'
        )
        |text link underline
      +textLinkThroughLine('a')(
        href = "#",
        className = 'c-flex-wrap__item js-hover'
        )
        |text link through line
      +textLinkThrough('a')(
        href = "#",
        className = 'c-flex-wrap__item js-hover'
        )
        |text link through

  .c-section
    h2.c-section-header
      |Video

    .c-flex-wrap
      +playVideo('div')(
        className = 'c-flex-wrap__item js-hover'
        )
      +playVideoBorder('div')(
        className = 'c-flex-wrap__item js-hover'
        )

block contentFixedAfter
  .p-contents-frame
