- var meta_title = 'effective-parts';
- var meta_keywords = '';
- var meta_description = 'a list of effective css3 parts to be used for web site.';
- var meta_path = "";
- var meta_ogp_img = "ogp.jpg"

doctype html
html(lang="ja")
  head
    include ./modules/_head.jade
  body.index
    .l-page
      include ./modules/_l-gh.jade
      include ./modules/_l-gf.jade
    script(src="js/main.js")
