mixin buttonBorder(tag, href)
  #{tag}.c-button-border.js-scroll-item.js-hover(
    href = href
    )
    span.c-button-border__label
      block
    span.c-button-border__line-v
    span.c-button-border__line-h
