mixin textLinkStrike(tag)
  #{tag}.c-textlink-strike(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className
    )
    block

mixin textLinkUnderline(tag)
  #{tag}.c-textlink-underline(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className
    )
    block

mixin textLinkThroughLine(tag)
  #{tag}.c-textlink-through-line(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className
    )
    block

mixin textLinkThrough(tag)
  #{tag}.c-textlink-through(
    href = attributes.href,
    target = attributes.target,
    class = attributes.className
    )
    span.c-textlink-through__label
      block
    span.c-textlink-through__over-label
      span.c-textlink-through__over-label-in
        block
