.l-contents {
  box-sizing: border-box;
  overflow: hidden;
  @include fontSize(14);
  letter-spacing: 0.1em;
  @include l-more-than-mobile {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include l-mobile {
    padding-top: 40px;
    padding-right: 21px;
    padding-bottom: 40px;
    padding-left: 21px;
  }
}
