@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");

// ==========================================================================
// Foundation
// ==========================================================================
@import "foundation/_variables";
@import "foundation/_keyframes";

// Mixins
@import "foundation/_mixin-utils";
@import "foundation/_mixin-easing";
//@import "foundation/_mixin-sprite";

// Base
@import "foundation/_normalize";
@import "foundation/_global";
//@import "foundation/_sprite";

// ==========================================================================
// Layout
// ==========================================================================
@import "layout/_contents";
@import "layout/_gf";
@import "layout/_gh";
@import "layout/_page";

// ==========================================================================
// Object
// ==========================================================================
// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------
@import "object/component/_button-border-v";
@import "object/component/_button-border";
@import "object/component/_button-reel";
@import "object/component/_flex-wrap";
@import "object/component/_hamburger";
@import "object/component/_section-header";
@import "object/component/_section";
@import "object/component/_text-link-strike";
@import "object/component/_text-link-underline";

// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------
@import "object/project/_contents-frame";
@import "object/project/_global-excerpt";
@import "object/project/_global-header";

// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------
@import "object/utility/_d";
@import "object/utility/_dn";
@import "object/utility/_fw";
@import "object/utility/_m";
@import "object/utility/_ta";
@import "object/utility/_trsde";
@import "object/utility/_tt";
@import "object/utility/_whs";

// -----------------------------------------------------------------
// Vendor
// -----------------------------------------------------------------
// @import "object/vendor/_xxx";
